body {
    background-color: #f4f6f9;
    font-family: "Segoe UI", sans-serif;
}

.title {
    text-align: center;
    color: #1f2937;
}

.subtitle {
    text-align: center;
    color: #6b7280;
    margin-bottom: 30px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    margin-bottom: 25px;
}

.center-btn {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

button[kind="primary"] {
    background-color: #2563eb !important;
    color: white !important;
    font-size: 16px !important;
    padding: 10px 25px !important;
    border-radius: 8px !important;
}

.approved {
    background-color: #dcfce7;
    color: #166534;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.rejected {
    background-color: #fee2e2;
    color: #991b1b;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.confidence {
    font-size: 18px;
    margin-top: 10px;
}

.explain {
    background-color: #eef2ff;
    padding: 15px;
    border-radius: 8px;
    color: #1e3a8a;
    font-size: 15px;
}
